@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
	margin:0;
	padding: 0;
}

.main {
    display: flex;
    background-color: #d1d8e5;
    min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

.card{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 25px;
	margin: 25px 0;
	min-width: 300px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}

.carrinhoVazio{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.card header {
    text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #c4c4c4;
	margin-bottom: 30px;
	padding: 15px 0;
	font-size: 20px;
}

.itemsList{
	border-bottom: 1px solid #c4c4c4;
}

.itemName{
	font-weight: bold;
	margin-top: 10px;
}

.itemImage{
	width: 80px;
	border: 1px solid #c4c4c4;
	margin-left: 30px;
}

.itemDetails{
	padding: 0 20px;
	position: relative;
	width: 100%;
}

.firstPrice{
	color: #a5a5a5;
	font-size: 13px;
}

.secondPrice{
	font-size: 17px;
}

.cartItem{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.totalBox{
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 20px;
}

.freteGratis{
	display: flex;
	justify-content: center;
	background-color: #c7ffa6;
	color:#217a00;
	margin: 20px 50px;
	border-radius: 20px;
	padding: 15px;
	font-weight: 500;
}

.bottomBox{
	display: flex;
	justify-content: center;
	border-top: 1px solid #c4c4c4;
}

.bottomBox button{
	border: none;
	color: #fff;
	background-color: #3b74f2;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	width: 100%;
	margin: 15px 15px;
	outline: 0;
	cursor: pointer;
}

.removeItem{
	position: absolute;
	right: 50px;
	top:50px;
	cursor: pointer;
	color: red;
	font-size: 30px;
	display: none;
}

.cartItem:hover .removeItem{
	display: block;
}